*.gsd
*.png
**/__pycache__
**.pyc
DS_Store
**/.DS_Store
*.txt
*.npz
*.mp4
*.zip
# pixi environments
.pixi/*
!.pixi/config.toml
*.html
*.log
*.json
*.so
*.dylib
rust/**/target/
hexatic/rho_fitting/output/

CORE.md
*.pkl
*.csv
*.bak
